@import '~bootstrap/scss/bootstrap';

.h1 {
  position: relative;
  text-align: center;
}
#message {
  position: relative;
  text-align: center;
}

.row {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid;
}
